.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unavailable {
  width: 210px;
  height: 295px;
  background-color: rgb(175, 174, 174);
}

.unavailable p {
  position: relative;
  top: 130px;
}

.card a {
  text-decoration: none;
  color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 5;
  justify-content: space-evenly;
  margin: 20px;
}
